/*----Normalize CSS---*/

@import "normalize.css";

/*----Base Styles---*/

body {
  margin-left:20px;
  margin-right: 20px;
}

header {
  text-align: center;
}

.main-header {
  text-transform: uppercase;
  background: #313d4f;
  color: white;
  margin-left: -20px;
  margin-right: -20px; 


}
